.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 20rem;
  text-transform: none;
}

.headerText {
  margin-right: 15rem;
  font-size: 100%;
}
.panel{
    display: flex;
    flex-direction: column;
    background-color: var(--panelColorNormal);
    color: #ffffff;
    height: 500rem;
    width: 400rem;

}
.buttonStyle{
    font-size: var(--fontSizeM);
    border-radius: 4;
    border: 2rem solid rgba(255,255,255,0.3);
    background-color: var(--dividerColor);
    color:  var(--textColorDim) ;
    border-top-left-radius: 4rem 4rem;
    border-top-right-radius: 4rem 4rem;
    border-bottom-left-radius: 4rem 4rem;
    border-bottom-right-radius: 4rem 4rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    &:hover {
    background-color: var(--hoverColorBright);
  }
}
.labelStyle{
    display: block;
    font-size: 15rem;
    margin-bottom: 2rem;
  
}
.buttonSection{
    display: flex;
}